# Build output
/target/
*.class

# Maven
/logs/
*.log
.mvn/
!**/src/**/mvn/**  # keep valid source folders
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Eclipse / NetBeans
*.iml
.idea/
*.ipr
*.iws
.classpath
.project
.settings/
nbproject/private/

# Local env
.env
*.env

# OS
.DS_Store
Thumbs.db
